.inner-banner {
    position: relative;
    height: 635px;

    @include breakpoint(desktop) {
        height: 495px;
    }

    @include breakpoint(normal) {
        height: 372px;
    }

    @include breakpoint(mobile) {
        height: auto;
        &.banner {
          padding: 0!important;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.97px) 0%, rgba(109, 109, 109, 0.55px) 89%);
            background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.97px) 0%, rgba(109, 109, 109, 0.55px) 89%);
        }
    }

    .bnr-ctnt {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        @include breakpoint(mobile) {
            flex-wrap: wrap;
            height: 172px;
        }

        .banner-img-wrapper {
          width: 770px;
          height: 770px;
          position: absolute;
          right: -58px;
          top: -185px;
          .banner-img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background: #ddd;
            overflow: hidden;
            position: absolute;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          @include breakpoint(desktop) {
            width: 645px;
            height: 645px;
          }

          @include breakpoint(normal) {
            width: 572px;
            height: 520px;
          }

          @include breakpoint(mobile) {
            right: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: relative;
            .banner-img {
              border-radius: 0;
            }
          }
        }

        .ctnt {
            position: relative;
            z-index: 3;
            padding: 0;
            @include breakpoint (mobile) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                width: 100%;
                left: 0;
                padding: 12px 25px;
            }

            h2 {
                color: #444444;
                font-size: 42px;
                line-height: 1.4;
                text-transform: uppercase;
                margin-bottom: 32px;
                font-family: $AavenirB;

                @include breakpoint(desktop) {
                    font-size: 32px;
                    line-height: 1.2;
                }

                @include breakpoint(ipad) {
                    margin: 0;
                }

                @include breakpoint(mobile) {
                    margin: 0;
                    font-size: 28px;
                }
            }

        }
    }

    .circle-line {
        position: absolute;
        right: 0;
        top: 0;

        .circle {
            animation-name: rotate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            backface-visibility: hidden;
            border-style: solid;
            border-width: 2px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle--solid {
            border-style: solid;
        }

        .circle--counter {
            animation-direction: reverse;
        }

        .circle:nth-of-type(1) {
            animation-duration: calc(12s * 1);
            border-color: #e2e2e2;
        }

       .circle:nth-of-type(2) {
            animation-duration: calc(15s * 2);
            border-color: #e2e2e2;
        }

        .circle:nth-of-type(3) {
            animation-duration: calc(12s * 3);
            border-color: #e2e2e2;
        }

         .circle.circle:nth-of-type(4) {
            animation-duration: calc(15s);
            border-color: #fff;
            border-style: double;
        }

        @-webkit-keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &.bg-clr {
        background: $white;
    }
}

.about-us {
    background: #eaeaea;
    text-align: center;

    h3 {
        color: #444444;
        font-size: em(30);
        font-family: $AavenirB;
        margin-bottom: 22px;
        position: relative;
        z-index: 3;

        @include breakpoint(mobile) {
            font-size: 26px;
            margin-bottom: 10px;
        }
    }

    p {
        font-size: em(20);
        font-family: $AavenirD;
        margin-bottom: 0;
        color: #231f20;
        position: relative;
        z-index: 3;

        @include breakpoint(mobile) {
            font-size: 15px;
        }
    }

    p+p {
        margin-top: 25px;

        @include breakpoint(mobile) {
            margin-top: 15px;
        }
    }
}

.team-section {
    padding-bottom: 0;
    overflow-x: hidden;

    &.bg-clr {
        article {
            &:nth-of-type(even) {
                background: $white;

                &::after {
                    display: none;
                }

                &::before {
                    display: none;
                }

            }

            .row .title-img figure {
                width: auto;
                height: auto;
                background: transparent;
            }
        }

        background: $white;

    }

    h3 {
        color: #444444;
        font-size: em(30);
        font-family: $AavenirB;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;

        @include breakpoint(mobile) {
            font-size: 26px;
        }
    }

    p {
        font-size: em(20);
        font-family: $AavenirD;
        margin-bottom: 0;
        color: #231f20;
        position: relative;
        z-index: 3;

        @include breakpoint(mobile) {
            font-size: 15px;
        }
    }

    article {
        padding: 62px 0;
        position: relative;

        @include breakpoint(mobile) {
            padding: 20px 0;
        }

        &:nth-of-type(even) {
            background: #eaeaea;

            &::after {
                content: '';
                background: #eaeaea;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 500px;
                left: -500px;
            }

            &::before {
                content: '';
                background: #eaeaea;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 500px;
                right: -500px;
            }

            .row {
                flex-direction: row-reverse;

                .title-img {
                    figure {
                        margin: 0 auto;

                        @include breakpoint(mobile) {
                            margin: 0 auto 20px;
                        }
                    }
                }
            }
        }

        .row {
            align-items: center;

            .title-img {
                figure {
                    width: 332px;
                    height: 332px;
                    line-height: 332px;
                    text-align: center;
                    background: #ddd;
                    border-radius: 100%;
                    margin: 0;
                    overflow: hidden;

                    @include breakpoint(mobile) {
                        width: 272px;
                        height: 272px;
                        line-height: 272px;
                        margin: 0 auto 20px;
                    }
                }
            }

            .title {
                figure {
                    margin-bottom: 22px;

                    @include breakpoint(mobile) {
                        margin-bottom: 12px;
                    }
                }

                h4 {
                    color: #444444;
                    font-size: em(20);
                    font-family: $AavenirB;
                    margin-bottom: 15px;

                    @include breakpoint(mobile) {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }
    }

    &.service-page {
        article:nth-of-type(2n) .row .title-img figure {
            background: #fff;
        }
    }
}
