.banner {
    position: relative;
    height: 790px;

    @include breakpoint(desktop) {
        height: 705px;
    }

    @include breakpoint(normal) {
        height: 510px;
    }

    @include breakpoint(mobile) {
        height: auto;
        padding: 25px 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.97px) 0%, rgba(109, 109, 109, 0.55px) 89%);
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.97px) 0%, rgba(109, 109, 109, 0.55px) 89%);
        }
    }

    .bnr-ctnt {
        overflow: hidden;
        .banner-img-wrapper {
          width: 915px;
          height: 900px;
          right: -80px;
          top: -95px;
          position: absolute;
          .banner-img {
            border-radius: 100% 0 86% 100%;
            overflow: hidden;
            position: absolute;
            background: #ddd;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @include breakpoint(mobile) {
              top: 0;
              right: 0;
              border-radius: 0;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          @include breakpoint(desktop) {
            width: 800px;
            height: 825px;
          }

          @include breakpoint(normal) {
            width: 615px;
            height: 610px;
          }

          @include breakpoint(ipad) {
            width: 570px;
            height: 585px;
          }

          @include breakpoint(mobile) {
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
          }
        }

        .ctnt {
            padding: 22% 0 5%;
            width: 62%;
            position: relative;
            z-index: 3;

            @include breakpoint(desktop) {
                width: 45%;
            }

            @include breakpoint(ipad) {
                width: 92%;
                background: rgba(255, 255, 255, 0.32px);
                padding: 32px;
                top: 50%;
                left: 4%;
                position: absolute;
                transform: translateY(-50%);
            }

            @include breakpoint(mobile) {
                background: transparent;
                width: 100%;
                padding: 15px;
                position: relative;
                z-index: 4;
                top: 0;
                left: 0;
                transform: translateY(-0%);
            }

            h3 {
                color: #444444;
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
                font-family: $AavenirB;

                @include breakpoint(desktop) {
                    font-size: 16px;
                }

                @include breakpoint(mobile) {
                    margin-bottom: 5px;
                }
            }

            h1 {
                color: #444444;
                font-size: 42px;
                line-height: 1.4;
                text-transform: uppercase;
                margin-bottom: 32px;
                font-family: $AavenirB;

                @include breakpoint(desktop) {
                    font-size: 32px;
                    line-height: 1.2;
                }

                @include breakpoint(mobile) {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }

            .btn {
                display: inline-block;
            }
        }
    }

    /* Circle-area */

    .circle {
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        backface-visibility: hidden;
        border-style: solid;
        border-width: 2px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        overflow: hidden;
    }

    .circle--solid {
        border-style: solid;
    }

    .circle--counter {
        animation-direction: reverse;
    }



    .ctr.circle {
        animation-duration: calc(12s);
        border-color: #fff;
        border-style: double;
        width: 102%;
        height: 105%;
        top: -7%;
        left: inherit;
        right: -8%;

        @include breakpoint(ipad) {
            display: none;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    @-webkit-keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    /* //Circle-area */
    .circle-line {
        width: 120%;
        height: 120%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;

        .circle:nth-of-type(1) {
            animation-duration: calc(10s * 1);
            border-color: #e2e2e2;
            top: 0;
            left: inherit;
            right: -12%;
            width: 110%;
            height: 100%;

            @include breakpoint(ipad) {
                display: none;
            }

            @include breakpoint(mobile) {
                display: none;
            }
        }

        .circle:nth-of-type(2) {
            animation-duration: calc(12s * 2);
            border-color: #e2e2e2;
            width: 95%;
            height: 105%;
            top: -12%;
            left: inherit;
            right: -10%;

            @include breakpoint(ipad) {
                display: none;
            }

        }

        .circle:nth-of-type(3) {
            animation-duration: calc(10s * 3);
            border-color: #e2e2e2;
            width: 100%;
            height: 108%;
            top: -11%;
            left: inherit;
            right: -11%;

            @include breakpoint(ipad) {
                display: none;
            }
        }

        svg {
            display: block;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            height: 100%;
            width: 100%;
        }



        circle {
            fill: none;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke: currentcolor;
            color: #ff793f;
            stroke-dasharray: 260, 0, 1, 0, 1, 0, 1, 0, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 1, 10, 1, 10, 1, 10, 10, 1;
            animation: vat 18s ease infinite
        }

        @keyframes vat {
            50% {
                stroke-dasharray: 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 10, 1, 20, 120, 1, 30, 1, 30, 1, 10, 30, 1;
                stroke-opacity: .5;
            }
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        g {
            animation: spin 20s linear infinite;
            transform-origin: 50% 50%;

            &:nth-child(even) {
                animation-direction: reverse
            }

            &:nth-child(1n) {
                animation-delay: -1s;
            }

            &:nth-child(2n) {
                animation-delay: -2s;
            }

            &:nth-child(3n) {
                animation-delay: -3s;
            }

            &:nth-child(4n) {
                animation-delay: -4s;
            }

            &:nth-child(5n) {
                animation-delay: -5s;
            }

            &:nth-child(6n) {
                animation-delay: -6s;
            }

            &:nth-child(7n) {
                animation-delay: -7s;
            }

            &:nth-child(1n) circle {
                animation-delay: -1.5s;
            }

            &:nth-child(2n) circle {
                animation-delay: -2.5s;
            }

            &:nth-child(3n) circle {
                animation-delay: -3.5s;
            }

            &:nth-child(4n) circle {
                animation-delay: -4.5s;
            }

            &:nth-child(5n) circle {
                animation-delay: -4.5s;
            }

            &:nth-child(6n) circle {
                animation-delay: -5.5s;
            }

            &:nth-child(7n) circle {
                animation-delay: -6.5s;
            }

            &:nth-child(8n) circle {
                animation-delay: -7.5s;
            }

            &:nth-child(9n) circle {
                animation-delay: -8.5s;
            }

            &:nth-child(10n) circle {
                animation-delay: -9.5s;
            }

            &:last-child circle {
                fill: transparent;
                stroke: none;
            }
        }
    }
}

.middle-section {
    position: relative;
    z-index: 2;

    h3 {
        color: $main;
        font-size: 30px;
        text-align: center;
        font-family: $AavenirB;
        margin-bottom: 22px;

        @include breakpoint(mobile) {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 18px;
        }
    }

    p {
        color: $main;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;

        @include breakpoint(mobile) {
            font-size: 18px;
        }
    }

    .card-list {
        text-align: center;
        margin: 72px 0 0;

        @include breakpoint(mobile) {
            margin: 35px 0 0;
        }

        figure {
            margin-bottom: 35px;

            @include breakpoint(mobile) {
                margin-bottom: 10px;
            }
        }

        h4 {
            color: $main;
            font-size: 18px;
            text-align: center;
            font-family: $AavenirB;
            margin-bottom: 22px;

            @include breakpoint(mobile) {
                margin-bottom: 0;
            }
        }
    }
}

.succeeds {
    text-align: center;
    position: relative;
    z-index: 3;

    h4 {
        color: #444444;
        font-size: em(30);
        font-family: $AavenirB;
        margin-bottom: 22px;

        @include breakpoint(mobile) {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 12px;
        }
    }

    p {
        font-size: em(20);
        font-family: $AavenirR;
        margin-bottom: 0;

        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    a {
        font-size: em(18);
        font-family: $AavenirB;
        color: #444444;
        margin-bottom: 0;
        border-bottom: 1px solid #7f202f;
        text-decoration: none;
        margin-top: 50px;
        display: inline-block;

        @include breakpoint(mobile) {
            font-size: 16px;
            margin-top: 25px;
        }

        &:hover {
            color: #7f202f;
        }
    }
}

.testimonial {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 100px;
    height: 755px;
    overflow: hidden;
    margin-top: -200px;

    @include breakpoint(ipad) {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .slider-nav-thumbnails {
        width: 800px;
        height: 800px;
        border-radius: 100%;
        background: #ddd;
        overflow: hidden;
        position: absolute;
        left: -82px;
        bottom: -160px;

        @include breakpoint(desktop) {
            width: 672px;
            height: 682px;
            bottom: -117px;
        }

        @include breakpoint(normal) {
            width: 562px;
            height: 580px;
        }

        @include breakpoint(ipad) {
            position: relative;
            width: 420px;
            height: 420px;
            bottom: 0;
            left: 0;
        }

        @include breakpoint(mobile) {
            width: 320px;
            height: 320px;
        }

        .banner-img {
            width: 100%;
            height: 750px;

            @include breakpoint(desktop) {
                height: 572px;
            }

            @include breakpoint(normal) {
                height: 500px;
            }

            @include breakpoint(ipad) {
                height: 420px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .testi-ctnt {
        padding: 0;
        margin-bottom: 0;

    }

    .circle-line {
        position: absolute;
        left: 0;
        top: 200px;

        @include breakpoint(desktop) {
            top: -100px;
            left: -70px;
            width: 890px;

            img {
                height: 100%;
            }
        }

        @include breakpoint(normal) {
            top: 0px;
            left: 0;
            width: 612px;
        }

        @include breakpoint(ipad) {
            display: none;
        }

        /* Circle-area */
        .circle {
            animation-name: circle;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            backface-visibility: hidden;
            border-style: solid;
            border-width: 2px;
            border-color: #e2e2e2;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle--solid {
            border-style: solid;
        }

        .circle--counter {
            animation-direction: reverse;
        }

        .circle:nth-of-type(1) {
            animation-duration: calc(12s * 1);
            width: 1080px;
            height: 1100px;
            top: -258px;
            left: -248px;

            @include breakpoint(desktop) {
                width: 772px;
                height: 992px;
                top: 170px;
                left: -40px;
            }

            @include breakpoint(normal) {
                width: 625px;
                height: 745px;
                top: 175px;
                left: -75px;
            }
        }

        .circle:nth-of-type(2) {
            animation-duration: calc(15s * 2);
            width: 1032px;
            height: 950px;
            top: -124px;
            left: -155px;

            @include breakpoint(desktop) {
                width: 775px;
                height: 830px;
                top: 220px;
                left: -5px;
            }

            @include breakpoint(normal) {
                width: 570px;
                height: 760px;
                top: 175px;
                left: -75px;
            }
        }

        .circle:nth-of-type(3) {
            animation-duration: calc(12s * 3);
            width: 900px;
            height: 915px;
            top: -148px;
            left: -117px;

            @include breakpoint(desktop) {
                width: 715px;
                height: 850px;
                top: 220px;
                left: -12px;
            }

            @include breakpoint(normal) {
                width: 595px;
                height: 680px;
                top: 248px;
                left: -75px;
            }
        }

        .circle:nth-of-type(4) {
            animation-duration: calc(15s * 4);
            width: 875px;
            height: 965px;
            top: -75px;
            left: -156px;

            @include breakpoint(desktop) {
                width: 745px;
                height: 772px;
                top: 220px;
                left: -52px;
            }
            @include breakpoint(normal) {
                width: 560px;
                height: 610px;
                top: 270px;
                left: -52px;
            }
        }

        .circle:nth-of-type(5) {
            animation-duration: calc(12s * 5);
            width: 850px;
            height: 985px;
            top: -188px;
            left: -170px;

            @include breakpoint(desktop) {
                width: 840px;
                height: 828px;
                top: 245px;
                left: -196px;
            }
            @include breakpoint(normal) {
                width: 510px;
                height: 605px;
                top: 270px;
                left: -52px;
            }
        }

        @-webkit-keyframes circle {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        /* //Circle-area */
    }

    .tool {
        width: 472px;
        margin-left: auto;

        @include breakpoint(ipad) {
            width: 100%;
            margin: 25px 0;
        }

        .testi {
            margin-left: auto;
            padding: 0;

            .ctnt {
                margin-left: auto;
                width: 462px;
                padding: 0 12px;

                @include breakpoint(ipad) {
                    width: 100%;
                    margin: 25px 0;
                }

                @include breakpoint(mobile) {
                    padding: 0;
                }

                p {
                    font-size: em(20);
                    font-family: $AavenirM;
                    color: #444444;

                    @include breakpoint(mobile) {
                        font-size: 16px;
                    }
                }

                strong {
                    font-size: em(24);
                    line-height: 1.3;
                    font-family: $AavenirB;
                    margin-bottom: 0;
                    color: #444444;

                    @include breakpoint(mobile) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .slick-arrow {
        background: transparent;
        border: none;
        padding: 0;
        font-size: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 45;

        @include breakpoint(ipad) {
            right: 55px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: 'FontAwesome';
            color: #888888;
            font-size: 26px;
        }

        &:hover {
            &::after {
                color: $hover;
            }
        }
    }

    .slick-prev {
        &:after {
            content: '\f053';
        }
    }

    .slick-next {
        &:after {
            content: '\f054';
            left: 24px;
        }
    }

    .slick-dots {
        margin: 0;
        position: absolute;
        top: -92px;
        left: 0;

        @include breakpoint(mobile) {
            top: -38px;
        }

        li {
            display: inline-block;
            margin: 0 15px;

            @include breakpoint(mobile) {
                margin: 0 11px;
            }

            button {
                font-size: 0;
                background: none;
                border: none;
                box-shadow: none;
                position: relative;

                &:hover {
                    &::after {
                        background: #7f202f;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 26px;

                    @include breakpoint(mobile) {
                        width: 18px;
                        height: 19px;
                    }
                }
            }

            &:first-child {
                button {
                    &::after {
                        background: #7f202f;
                    }
                }
            }

            &:nth-last-of-type(2) {
                button {
                    &::after {
                        background: #c34539;
                    }
                }
            }

            &:last-child {
                button {
                    &::after {
                        background: #ff793f;
                    }
                }
            }
        }
    }
}

.brand {
    position: relative;
    z-index: 3;
    margin-bottom: 3rem;
    .ctnt {
        padding: 0 15px;
        text-align: center;

        figure {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 121px;
        }
    }
    .slick-arrow {
        background: transparent;
        border: none;
        padding: 0;
        font-size: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 45;
        width: 30px;
        height: 30px;
        &.slick-prev {
          left: -40px;
        }
        &.slick-next {
          right: -40px;
        }
        &::after {
          content: "\f053";
          position: absolute;
          bottom: 0;
          right: 0;
          font-family: "FontAwesome";
          color: #888888;
          font-size: 26px;
        }
        &.slick-next::after {
          content: "\f054";
        }
        &:hover:after {
            color: #f48724;
        }
    }
}

.home-banner-sub-content {
  img {
    mix-blend-mode: multiply;
  }
}
