.btn {
    background: $color-btn;
    border: 1px solid $color-btn;
    color: $white;
    padding: 0 45px;
    line-height: 3.2;
    border-radius: 4px;
    font-size: em(16);
    font-family: $AavenirB;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @include breakpoint(mobile){
        padding: 0 25px;
        line-height: 2.4;
        font-size: 15px;
    }
&:focus,
    &:hover {
        background: #ec6f39;
        border-color: #ec6f39;
        color: $white;
        box-shadow: 0px 2px 3px #431227;
        transform: translateY(0.2px);
    }
}