
    /* Circle-area */

    .circle {
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        backface-visibility: hidden;
        border-style: solid;
        border-width: 2px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        overflow: hidden;
    }

    .circle--solid {
        border-style: solid;
    }

    .circle--counter {
        animation-direction: reverse;
    }

    .ctr.circle {
        animation-duration: calc(12s);
        border-color: #fff;
        border-style: double;
        width: 942px;
        height: 955px;
        top: -60px;
        left: inherit;
        right: -77px;

        @include breakpoint(desktop) {
            width: 838px;
            height: 905px;
            top: -62px;
            left: inherit;
            right: -88px;
        }

        @include breakpoint(normal) {
            width: 675px;
            height: 640px;
        }

        @include breakpoint(ipad) {
            display: none;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    @-webkit-keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    /* //Circle-area */
    .circle-line {
        width: 1155px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;

        @include breakpoint(desktop) {
            width: 1020px;
        }

        @include breakpoint(normal) {
            width: 570px;
        }

        .circle:nth-of-type(1) {
            animation-duration: calc(10s * 1);
            border-color: #e2e2e2;
            width: 1150px;
            height: 1115px;
            top: -145px;
            left: inherit;
            right: -82px;

            @include breakpoint(desktop) {
                width: 955px;
                height: 1055px;
            }

            @include breakpoint(normal) {
                width: 674px;
                height: 755px;
            }

            @include breakpoint(ipad) {
                display: none;
            }

            @include breakpoint(mobile) {
                display: none;
            }
        }

        .circle:nth-of-type(2) {
            animation-duration: calc(12s * 2);
            border-color: #e2e2e2;
            width: 1050px;
            height: 1000px;
            top: -140px;
            left: inherit;
            right: -80px;

            @include breakpoint(desktop) {
                width: 890px;
                height: 960px;
            }

            @include breakpoint(normal) {
                width: 640px;
                height: 772px;
            }

            @include breakpoint(ipad) {
                display: none;
            }

        }

        .circle:nth-of-type(3) {
            animation-duration: calc(10s * 3);
            border-color: #e2e2e2;
            width: 945px;
            height: 1105px;
            top: -120px;
            left: inherit;
            right: -80px;

            @include breakpoint(desktop) {
                width: 855px;
                height: 925px;
            }

            @include breakpoint(normal) {
                width: 635px;
                height: 675px;
            }

            @include breakpoint(ipad) {
                display: none;
            }
        }

    }

    /* Home-page-Bottom-Animation*/
    .circle-line {
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint(desktop) {
            top: -308px;
            left: -70px;
            width: 890px;

            img {
                height: 100%;
            }
        }

        @include breakpoint(normal) {
            top: -187px;
            left: 0;
            width: 612px;
        }

        @include breakpoint(ipad) {
            display: none;
        }

        /* Circle-area */
        .circle {
            animation-name: circle;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            backface-visibility: hidden;
            border-style: solid;
            border-width: 2px;
            border-color: #e2e2e2;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle--solid {
            border-style: solid;
        }

        .circle--counter {
            animation-direction: reverse;
        }

        .circle:nth-of-type(1) {
            animation-duration: calc(12s * 1);
            width: 1080px;
            height: 1100px;
            top: -258px;
            left: -248px;

            @include breakpoint(desktop) {
                width: 772px;
                height: 992px;
                top: 170px;
                left: -40px;
            }

            @include breakpoint(normal) {
                width: 625px;
                height: 745px;
                top: 175px;
                left: -75px;
            }
        }

        .circle:nth-of-type(2) {
            animation-duration: calc(15s * 2);
            width: 1032px;
            height: 950px;
            top: -124px;
            left: -155px;

            @include breakpoint(desktop) {
                width: 775px;
                height: 830px;
                top: 220px;
                left: -5px;
            }

            @include breakpoint(normal) {
                width: 570px;
                height: 760px;
                top: 175px;
                left: -75px;
            }
        }

        .circle:nth-of-type(3) {
            animation-duration: calc(12s * 3);
            width: 900px;
            height: 915px;
            top: -148px;
            left: -117px;

            @include breakpoint(desktop) {
                width: 715px;
                height: 850px;
                top: 220px;
                left: -12px;
            }

            @include breakpoint(normal) {
                width: 595px;
                height: 680px;
                top: 248px;
                left: -75px;
            }
        }

        .circle:nth-of-type(4) {
            animation-duration: calc(15s * 4);
            width: 875px;
            height: 965px;
            top: -75px;
            left: -156px;

            @include breakpoint(desktop) {
                width: 745px;
                height: 772px;
                top: 220px;
                left: -52px;
            }
            @include breakpoint(normal) {
                width: 560px;
                height: 610px;
                top: 270px;
                left: -52px;
            }
        }

        .circle:nth-of-type(5) {
            animation-duration: calc(12s * 5);
            width: 850px;
            height: 985px;
            top: -188px;
            left: -170px;

            @include breakpoint(desktop) {
                width: 840px;
                height: 828px;
                top: 245px;
                left: -196px;
            }
            @include breakpoint(normal) {
                width: 510px;
                height: 605px;
                top: 270px;
                left: -52px;
            }
        }

        @-webkit-keyframes circle {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        /* //Circle-area */
    }

    /* Internal-pages-animation */
    .circle-img {
        position: absolute;
        right: 0;
        top: 0;
        width: 850px;

        @include breakpoint(desktop) {
            width: 670px;
        }

        .circle {
            animation-name: rotate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            backface-visibility: hidden;
            border-style: solid;
            border-width: 2px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle--solid {
            border-style: solid;
        }

        .circle--counter {
            animation-direction: reverse;
        }

        .circle:nth-of-type(1) {
            animation-duration: calc(12s * 1);
            border-color: #e2e2e2;
            width: 910px;
            height: 972px;
            top: -215px;
            left: inherit;
            right: -100px;

            @include breakpoint(desktop) {
                width: 760px;
                height: 900px;
            }
            @include breakpoint(normal) {
                width: 700px;
                height: 745px;
            }
            @include breakpoint(ipad) {
                width: 650px;
                height: 700px;
            }
            @include breakpoint(mobile) {
                display: none;
            }
        }

       .circle:nth-of-type(2) {
            animation-duration: calc(15s * 2);
            border-color: #e2e2e2;
            width: 845px;
            height: 1055px;
            top: -240px;
            left: inherit;
            right: -90px;

            @include breakpoint(desktop) {
                width: 780px;
                height: 875px;
            }
            @include breakpoint(normal) {
                width: 665px;
                height: 720px;
            }
            @include breakpoint(ipad) {
                width: 650px;
                height: 685px;
            }
            @include breakpoint(mobile) {
                display: none;
            }
        }

        .circle:nth-of-type(3) {
            animation-duration: calc(12s * 3);
            border-color: #e2e2e2;
            width: 790px;
            height: 910px;
            top: -215px;
            left: inherit;
            right: -80px;

            @include breakpoint(desktop) {
                width: 700px;
                height: 775px;
            }
            @include breakpoint(normal){
                width: 615px;
                height: 690px;
            }
            @include breakpoint(ipad) {
                width: 588px;
                height: 600px;
            }
            @include breakpoint(mobile) {
                display: none;
            }
        }

         .circle.circle:nth-of-type(4) {
            animation-duration: calc(15s);
            border-color: #fff;
            border-style: double;
            width: 730px;
            height: 782px;
            top: -194px;
            left: inherit;
            right: -39px;

            @include breakpoint(desktop) {
                width: 610px;
                height: 680px;
            }
            @include breakpoint(normal){
                width: 525px;
                height: 595px;
            }
            @include breakpoint(ipad) {
                width: 525px;
                height: 595px;
            }
            @include breakpoint(mobile) {
                display: none;
            }
        }

        @-webkit-keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
