/* Colors */
$white: #fff;
$black: #000;
$main:#444444;
$bg-color:#f5f4f4;
$color-gray: #c5c5c5;
$color-light: #3d3d3d;
$color-text:#2e2e2e;
$color-btn: #ff793f;
$hover:#f48724;
$color-light: #cccccc;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*  Brand color */
$color-facebook: #3b5998;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-twitter: #55acee;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;

$primary: #edc6c1;
$secondary: #edc6c1;
$gray: #999999;
$gray-light: #DEDEDE;

/* Font Size */
$base-font-size: 16;

/*  Font Family */

$AavenirB:'Conv_AvenirNextLTPro-Bold';
$AavenirD:'Conv_AvenirNextLTPro-Demi';
$AavenirM:'Conv_Apex New Medium';
$AavenirR:'Conv_AvenirNextLTPro-Regular';


/* Font Weight */
