/* Custom-Fonts-Upload */
@font-face {
	font-family: 'Conv_AvenirNextLTPro-Bold';
	src: url('fonts/AvenirNextLTPro-Bold.eot');
	src: local('☺'), url('../fonts/myFonts/avenirnextltpro-bold.woff') format('woff'), url('../fonts/myFonts/avenirnextltpro-bold.ttf') format('truetype'), url('../fonts/myFonts/avenirnextltpro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextLTPro-Demi';
	src: url('fonts/AvenirNextLTPro-Demi.eot');
	src: local('☺'), url('../fonts/myFonts/avenirnextltpro-demi.woff') format('woff'), url('../fonts/myFonts/avenirnextltpro-demi.ttf') format('truetype'), url('../fonts/myFonts/avenirnextltpro-demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Apex New Medium';
	src: url('fonts/Apex New Medium.eot');
	src: local('☺'), url('../fonts/myFonts/apex new medium.woff') format('woff'), url('../fonts/myFonts/apex new medium.ttf') format('truetype'), url('../fonts/myFonts/apex new medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	src: url('fonts/AvenirNextLTPro-Regular.eot');
	src: local('☺'), url('../fonts/myFonts/avenirnextltpro-regular.woff') format('woff'), url('../fonts/myFonts/avenirnextltpro-regular.ttf') format('truetype'), url('../fonts/myFonts/avenirnextltpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family:$AavenirR;
    line-height: 1.7;
    font-size: $base-font-size + px;
    color: $black;
	overflow-x: hidden;
    background:$bg-color;
    margin: 0;
}
body,
html{
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0 0 25px;
}


h1 {
    font-size: em(60);
}

h2 {
    font-size: em(40);

    @include breakpoint(desktop) {
        font-size: em(36);
    }
    
    @include breakpoint(normal) {
        font-size: em(32);
    }

    @include breakpoint(ipad) {
        font-size: em(28);
    }

    @include breakpoint(mobile) {
        font-size: em(22);
    }
}

h3 {
    font-size: em(32);

    @include breakpoint(desktop) {
        font-size: em(28);
    }

    @include breakpoint(ipad) {
        font-size: em(22);
    }

    @include breakpoint(mobile) {
        font-size: em(18);
    }
}

h4 {
    font-size: em(25);

    @include breakpoint(desktop) {
        font-size: em(21);
    }
}

h5 {
    font-size: em(22);

    @include breakpoint(desktop) {
        font-size: 16px;
    }
}

h6 {
    font-size: em(20);

    @include breakpoint(desktop) {
        font-size: 14px;
    }
}
section{
    padding:75px 0;
    @include breakpoint(desktop) {
        padding:45px 0;
    }
    @include breakpoint(mobile){
        padding: 28px 0;
    }
}
p {
    font-size: em(18);
    line-height: 1.7;
    margin-bottom: 35px;
    color: #444444;

    @include breakpoint(desktop) {
        font-size: 16px;
		line-height:1.6;
        margin-bottom: 25px;
    }

    a {
        color: #000;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

        &:hover,
        &:focus {
            color: $color-gray;
        }
    }
}