footer {
    background: #252525;
    position: relative;
    z-index: 3;
    padding: 75px 0 45px;
    text-align: center;

    @include breakpoint(mobile) {
        padding: 35px 0 15px;
    }

    ul {
        padding: 0;
        margin: 0 0 35px;
        list-style: none;

        @include breakpoint(mobile) {
            margin: 0 0 15px;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 42px;
            position: relative;

            @include breakpoint(mobile) {
                padding: 0 15px;
            }

            &::after {
                content: '|';
                position: absolute;
                font-size: 20px;
                color: #888888;
                top: 0;
                right: 0;

                @include breakpoint(mobile) {
                    font-size: 14px;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            .nav-link {
                padding: 0;
            }

            a {
                font-size: 20px;
                color: #888888;
                font-family: $AavenirD;
                text-decoration: none;

                @include breakpoint(mobile) {
                    font-size: 14px;
                }

                &:hover {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    p {
        font-size: 16px;
        color: #888888;
        font-family: $AavenirD;
        text-decoration: none;
        margin-bottom: 0;

        @include breakpoint(mobile) {
            font-size: 12px;
            line-height: 1.6;
        }
    }
}