span.wpcf7-not-valid-tip{
    display: none;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin: 5px 0 0 !important;
    font-size: 13px;
}
.frm-btn {
    position: relative;
}
div.wpcf7 .ajax-loader{
    position: absolute;
    right: 20px;
    top: 20px;
}
.contact-us {
    padding-top: 92px;
    @include breakpoint(ipad){
        padding: 35px;
    }
    @include breakpoint(mobile){
        padding: 30px 0;
    }
    .contact-box {
        padding: 42px;
        background: $white;
        -webkit-box-shadow: 0px 0px 10px 3px #eee;
        box-shadow: 0px 0px 10px 3px #eee;
        border-radius: 10px;
        @include breakpoint(mobile){
            padding: 22px;
        }
        .heading {
            margin-bottom: 50px;
            @include breakpoint(mobile){
                margin-bottom: 22px;
            }
            h3 {
                color: #444444;
                font-size: em(30);
                font-family: $AavenirB;
                margin-bottom: 0;
                position: relative;
                z-index: 3;
                @include breakpoint(mobile){
                    font-size: em(26);
                }
                &::after {
                    content: "";
                    background: $hover;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 50px;
                    height: 3px;
                }
            }
        }

        .form-group {
            margin-bottom: 30px;
            @include breakpoint(mobile){
                margin-bottom: 15px;
            }
            label {
                font-size: em(16);
                font-family: $AavenirR;
                margin-bottom: 5px;
                color: #231f20;
            }

            .form-control {
                height: 56px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                font-size: 16px;
                color: #505050;
                padding: 0 20px;
                font-family: $AavenirR;
                box-shadow: none;
                outline: 0;
                @include breakpoint(mobile){
                   height: 52px;
                }
                &.wpcf7-not-valid{
                    border-color: red !important;
                }
            }

            textarea.form-control {
                height: 142px;
                resize: none;
                padding: 12px 20px;
                @include breakpoint(mobile){
                    height: 120px;
                }
            }
        }
    }

    .right-map {
        padding: 42px;
        background: $white;
        -webkit-box-shadow: 0px 0px 10px 3px #eee;
        box-shadow: 0px 0px 10px 3px #eee;
        border-radius: 10px;
        @include breakpoint(ipad){
            margin: 25px 15px;
        }
        @include breakpoint(mobile){
            padding: 22px;
        }
        h3 {
            color: #444444;
            font-size: em(30);
            font-family: $AavenirB;
            margin-bottom: 45px;
            position: relative;
            z-index: 3;
            @include breakpoint(mobile){
                font-size: em(26);
                margin-bottom: 22px;
            }
            &::after {
                content: "";
                background: $hover;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 3px;
            }
        }

        p {
            font-size: em(16);
            font-family: $AavenirD;
            margin-bottom: 0;
            color: #231f20;
        }
        a {
            font-size: em(16);
            font-family: $AavenirD;
            margin-bottom: 0;
            color: #231f20;
            text-decoration: none;
            &:hover{
                color: $hover;
            }
        }
    }
}