header {
    position: fixed;
    background: $white;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 99999;

    @include breakpoint(mobile) {
        padding: 8px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(ipad) {
            position: relative;
        }

        .logo {
            width: 192px;

            @include breakpoint(desktop) {
                width: 192px;
            }

            @include breakpoint(normal) {
                width: 142px;
            }

            @include breakpoint(mobile) {
                width: 122px;
            }

            .navbar-brand {
                margin-right: 0;
                padding: 0;
            }
        }

        .navbar {
            padding: 0;
            margin: 0;

            /* @include breakpoint(ipad) {
                position: absolute;
                right: 0;
                left: 0;

                @include breakpoint(mobile) {
                    right: 12px;
                    left: 12px;
                }

                .login-btn.tp {
                    position: absolute;
                    right: 62px;
                }

                div#navbarFeenix {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    background: #fff;
                    top: 20px;
                    padding: 0;
                    @include breakpoint(mobile){
                        top: 17px;
                    }
                }

                button.navbar-toggler.collapsed {
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

                button.navbar-toggler {
                    position: absolute;
                    right: 0;
                    z-index: 55;
                    background: url(../images/menu-icon.png) no-repeat;
                    background-position: center;
                    background-size: 30px;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

                }
            }*/

            ul.navbar-nav {
                li {
                    margin-right: 50px;
                    position: relative;

                    @include breakpoint(ipad) {
                        margin-right: 0;
                    }

                    @include breakpoint(mobile) {
                        border-bottom: 1px solid #ddd;
                    }

                    a {
                        color: #3a3a3a;
                        padding: 0;
                        font-size: 16px;
                        font-family: $AavenirM;
                        letter-spacing: 0.4px;
                        transform: translateZ(0);
                        backface-visibility: hidden;
                        position: relative;
                        overflow: hidden;

                        @include breakpoint(ipad) {
                            padding: 7px 20px;
                        }

                        @include breakpoint(mobile) {
                            padding: 5px 20px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            left: 50%;
                            right: 50%;
                            bottom: 0;
                            background: $hover;
                            height: 2px;
                            transition-property: left right;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-out;
                        }

                        &:hover {
                            color: $color-btn;

                            &::before {
                                left: 0;
                                right: 0;
                            }
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: $color-btn;

                            &::before {
                                left: 0;
                                right: 0;
                            }
                        }
                    }

                    &.current-menu-parent.menu-item-has-children {
                        a {
                            color: $color-btn;

                            &::before {
                                left: 0;
                                right: 0;
                            }
                        }

                        ul.sub-menu li {
                            a {
                                color: #3a3a3a;
                                padding: 0;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    z-index: -1;
                                    left: 50%;
                                    right: 50%;
                                    bottom: 0;
                                    background: $hover;
                                    height: 2px;
                                    transition-property: left right;
                                    transition-duration: 0.3s;
                                    transition-timing-function: ease-out;
                                }
                                &:hover {
                                    color: $color-btn;
        
                                    &::before {
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                            &.current-menu-item {
                                a {
                                    color: $color-btn;

                                    &::before {
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    } 

                    ul.sub-menu {
                        position: absolute;
                        background: #fff;
                        transition: all 0.4s ease-in-out;
                        visibility: hidden;
                        opacity: 0;
                        pointer-events: none;
                        top: 68px;
                        width: 100%;

                        @include breakpoint(ipad) {
                            position: relative;
                            display: none;
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                            pointer-events: visible;
                        }

                        li {
                            margin: 0;
                            padding: 10px 32px 5px;

                            a {
                                font-size: 15px;
                                padding: 0;
                            }

                            &.current-menu-item {
                                a {
                                    color: $color-btn;

                                    &::before {
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        ul.sub-menu {
                            visibility: visible;
                            opacity: 1;
                            pointer-events: auto;
                            top: 25px;
                        }

                        @include breakpoint(ipad) {
                            ul.sub-menu {
                                top: 0;
                            }
                        }
                    }
                }
            }

        }

        .login-btn {
            margin: 0;

            .login-btn {
                background: $color-btn;
                border: 1px solid $color-btn;
                color: $white;
                padding: 0 35px;
                display: block;
                line-height: 2.8;
                border-radius: 4px;
                text-decoration: none;
                font-size: 14px;
                font-family: $AavenirB;
                text-transform: uppercase;
                box-shadow: none;
                outline: none;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                @include breakpoint(mobile) {
                    font-size: 14px;
                    padding: 2px 30px 0;
                    line-height: 2.4;
                }

                &:hover {
                    background: #ec6f39;
                    border-color: #ec6f39;
                    box-shadow: 0px 2px 3px #431227;
                    transform: translateY(0.2px);
                }
            }
        }
    }

    &.nav-up {
        top: -228px;
        transition: all 0.2s ease-in-out;
    }

    &.fixed.nav-down {
        top: 0px;
        transition: all 0.6s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

    &.fixed {
        transition: all 0.6s ease-in-out;
        background: $white;
    }
}