@media only screen and (max-width: 767px) and (orientation: landscape) {
  .banner .bnr-ctnt .ctnt {
    position: relative !important;
    z-index: 5 !important;
    background: transparent !important;
  }
}

@media(max-width:991px) {

  /*  Toggle-Menu-Style-Here  */
  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
  }

  button.navbar-toggler {
    margin-left: 15px;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 18px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #000;
    transition: all 300ms linear;
  }

  .navbar-toggler-icon:after,
  .navbar-toggler-icon:before {
    width: 30px;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }

  .navbar-toggler-icon:after {
    top: 8px;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }

  /*  //Toggle-Menu-Style-Here  */
  
  .navbar .navbar-collapse.collapsing {
    height: auto !important;
  }

  .navbar .navbar-collapse {
    left: -100%;
    animation: slide-out-left 200ms forwards;
  }

  .navbar .navbar-collapse.open {
    animation: slide-in-left 200ms forwards;
  }

  .navbar .navbar-collapse {
    top: 0px;
    bottom: 0px;
    position: fixed;
    width: 80%;
    width: calc(100% - 60px);
    max-width: 320px;
    height: auto !important;
    background: #fff;
    padding: 20px;
    top: 0;
    left: 0;
  }

  .navbar .navbar-collapse.open {
    display: block !important;
    overflow-y: auto;
  }

  @keyframes slide-in-left {
    0% {
      left: -100%;
    }

    100% {
      left: 0px;
    }
  }

  @keyframes slide-out-left {
    0% {
      left: 0px;
    }

    100% {
      left: -100%;
    }
  }

  @keyframes slide-in-right {
    0% {
      right: -100%;
    }

    100% {
      right: 0px;
    }
  }

  @keyframes slide-out-right {
    0% {
      right: 0px;
    }

    100% {
      right: -100%;
    }
  }
}