.wpforms-submit {
  background: #ff793f!important;
  border: 1px solid #ff793f!important;
  color: #fff!important;
  padding: 0 45px!important;
  line-height: 3.2!important;
  border-radius: 4px!important;
  font-size: 1em!important;
  font-family: Conv_AvenirNextLTPro-Bold!important;
  text-transform: uppercase!important;
  box-shadow: none!important;
  outline: none!important;
  transition: all .3s ease-in-out!important;
}

.page-wrapper:not(.full-width-page) {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 1rem 40px;
  @media only screen and (max-width: 767px) {
    padding-top: 30px;
  }
}

.bg-dark-grey {
  background-color: #eaeaea;
}

.feenix-text-section {
  .container {
    position: relative;
    z-index: 2;
    h3 {
      color: #444;
      font-size: 30px;
      text-align: center;
      font-family: Conv_AvenirNextLTPro-Bold;
      margin-bottom: 22px;
    }
    ul {
      max-width: 700px;
      margin: 0 auto;
      list-style-type: disc;
      @include breakpoint(mobile) {
        padding: .5rem 1rem;
      }
      li {
        font-weight: 600;
        list-style: disc;
        padding: .5rem 0;
        font-size: 20px;
        @media only screen and (max-width: 767px) {
          font-size: 18px;
        }
        ul {
          padding: .5rem 0 .5rem 1.5rem;
          li {
            list-style: circle;
          }
        }
      }
    }
    p {
      color: #444;
      font-size: 20px;
      text-align: center;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 767px) {
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.inner-banner .bnr-ctnt .ctnt h2, .inner-banner .bnr-ctnt .ctnt h1, .page-wrapper .entry-title {
  color: #444;
  font-size: 42px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-family: Conv_AvenirNextLTPro-Bold;
  @media only screen and (max-width: 1499px) {
    font-size: 32px;
    line-height: 1.2;
  }
  @media only screen and (max-width: 767px) {
    margin: 0;
    font-size: 28px;
  }
}

.page-wrapper .entry-title {
  text-align: center;
}

.inner-banner::after {
  @media only screen and (max-width: 767px) {
    background: -webkit-linear-gradient(bottom,hsla(0,0%,100%,.97),hsla(0,0%,42.7%,.55) 89%)!important;
  }
}


.color-blocks {
  display: flex;
  margin: 0 -.5rem;
  display: flex;
  @media only screen and (max-width: 767px) {
    margin: 0 -.4rem;
  }
  .color-block-wrapper {
    padding: 0 .25rem;
    @media only screen and (max-width: 767px) {
      padding: 0 .2rem;
    }
    .color-block {
      width: 30px;
      height: 30px;
      @media only screen and (max-width: 767px) {
        width: 22px;
        height: 22px;
      }
      &.color-block-dark-red {
        background-color: #7D212F;
      }
      &.color-block-red {
        background-color: #C1453B;
      }
      &.color-block-orange {
        background-color: #FF7A3F;
      }
    }
  }
}

.team-section article:nth-of-type(2n) .row .title-img figure {
  background-color: white;
}

.team-section.transparent {
  article {
    background: transparent!important;
    &::before, &::after {
      display: none;
    }
    .row {
      .title-img {
        figure {
          border-radius: 0!important;
          background: transparent!important;
          width: 450px;
          height: 450px;
          @media only screen and (max-width: 767px) {
            width: 272px;
            height: 272px;
          }
        }
      }
    }
  }
}

.brand {
  .slick-slide img {
    // filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
}
